body {
	background-color: black;
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.postcardHeader img {
	width: 75px;
	height: 75px;
}
.mainDiv {
	background-color: white;
	color: black;
}
.postcardHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.postcardHeader div {
	width: 100%;
}
.postcardHeader,
.postcardBtn button {
	text-transform: capitalize;
}
